.header {
    height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 2rem;
    background: white;

    pointer-events: auto;
}

.headerLeft {
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.headerLeftFont {
    font-size: 1.5rem;
    font-weight: bold;
}

.headerRight {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    gap: 6rem;
}

.headerRightFont {
    font-size: 1.25rem;
    font-weight: normal;
}

.profileImage {
    border-radius: 20px;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.05);
}