.cesium {
    position: fixed;
    width: 100%;
    height: 100%;

    /* 헤더 크기 조정한 것*/
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;

    /* 가장 아래에 배치*/
    z-index: -1;
    pointer-events: auto;
}