.leftSideBar {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;

    padding: 8px;
    width: 360px;
    height: calc(100% - 80px);

    pointer-events: auto;
    overflow: hidden;             /* 바깥 넘침 숨김 */

    border-radius: 12px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(8px);

    gap: 8px;

    /* 카드 레일(세로 슬라이드 영역) */
    .routeCardList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        overflow-y: auto;
        padding-right: 0.5rem;

        scroll-snap-type: y mandatory;
        scrollbar-width: thin;        /* Firefox */

        gap: 16px;

        /* 각 카드가 “찰칵” 붙도록 */
        .snap {
            scroll-snap-align: start;
        }
    }
}