/* RouteSimulation.module.scss */
$bg: #ACE5F6;
$radius: 12px;
$pad: 1.125rem;
$font-size: 1.125rem;

.routeSimulation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: $pad;

  border-radius: $radius;
  border: none;

  background: $bg;

  &:hover {
    transform: translateY(0.05rem);
  }
}

.routeSimulationFont {
  font-size: $font-size;
  font-weight: bold;
}
