.routeSimulation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1.125rem;

    border-radius: 12px;
    border: none;

    background: #ACE5F6;
}

.routeSimulation:hover {
    transform: translateY(0.05rem);
}

.routeSimulationFont {
    font-size: 1.125rem;
    font-weight: bold;
}