.bottomSheet {
    position: absolute;
    z-index: 10;

    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);
}

.listChips {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: fit-content;
    gap: 0.75rem;

    pointer-events: auto;
}