.routeCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0.5rem;
    width: 100%;
    height: fit-content;

    gap: 0.5rem;

    border-radius: 16px;
    background: white;
}

.imageBox {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    overflow: hidden;
}

.titleFont {
    color: black;
    font-size: 0.75rem;
    font-weight: bold;
}

.routeInfoFont {
    color: #9EA4AA;
    font-size: 0.625rem;
    font-weight: bold;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    flex: 1 0 0;

    padding: 0.875rem 0;
}

.descriptionFont {
    text-align: center;

    color: black;
    font-size: 0.625rem;
    font-weight: normal;
}